.Type-Writer-Container{
    grid-row-start:    2;
    grid-row-end:      3;
    grid-column-start: 2;
    grid-column-end:   5;

    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.intro-text{
    color:rgb(255, 255, 255); 
    text-decoration: none;
}
.typewrite{
    color:rgb(255, 255, 255); 
    text-decoration: none;
}

.intro-text{
font-size: 50px;
}
.typewrite{
font-size: 50px;
}

.jump2-container{
    height: 100px;
   display: flex;
    flex-direction: column-reverse;
    /* outline: solid black 1px; */
    outline: none;
}

.jump-button2 {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s;
    border: 2px solid #fed766;
    background-color: rgba(238, 107, 77, 0);
    color: #ffffff;
    height: 40px;
    width: 100%;
    outline: none;    
  }