@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.ProjectTiles-Container{
    height:100%;   
    grid-row-start:    2;
    grid-row-end:      5;
    grid-column-start: 2;
    grid-column-end:   5;
    display: grid;
    grid-template-rows:   1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* laptopframe{
    background-image: url('../../../Assets/img/laptop.svg');
    height: 100%;
    grid-row-start:    1;
    grid-row-end:      4;
    grid-column-start: 1;
    grid-column-end:   3;
    background-repeat: no-repeat;   
    border: solid yellow 3px; 
    z-index: auto;
} */
/* .slick-track{
    margin-left: 60px;  
} */


/* .dashImg{
    padding-left: 51px;
    padding-top: 6px;
    height: 230px;
    width: 340px;
    grid-row-start:    1;
    grid-row-end:      3;
    grid-column-start: 1;
    grid-column-end:   6;
} */
/* #laptopImage{
    padding-left: 51px;
    padding-top: 6px;
    height: 230px;
    width: 340px;
    grid-row-start:    1;
    grid-row-end:      3;
    grid-column-start: 1;
    grid-column-end:   6;
} */
/* .laptopFrame{
    height: 250px;
    grid-row-start:    1;
    grid-row-end:      3;
    grid-column-start: 1;
    grid-column-end:   6;
} */
.tile-text-area{
    grid-row-start:    1;
    grid-row-end:      2;
    grid-column-start: 3;
    grid-column-end:   4;
    display: grid;
    grid-template-rows:   1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.project-title{
    font-size: 30px;
}
.project-tech{
    font-size: 20px;
}
.mySlides {display:none;}

/* ################################################################################################################## */

.img1{
    background-image: url('../../../Assets/img/employee-shop.svg');
}
.img2{
    background-image: url('../../../Assets/img/employee-dash.svg');
}
/* .laptop-slider{
    background-repeat: no-repeat;       
    height: 300PX;    
}
laptopframetwo{
    z-index: auto;
    
} */