@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.Expertise-Container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
    height: 100%;
    background-color: #ffffff;
}

item{
    font-family: sans-serif;
    font-size: 30px;
}
.expertise-items > img{
    height: 200px;
}
.expertise-items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 66%;
}
.expertise-items > div{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.expertise-items > div > h2 {
    /* text-align: center; */
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
}
