.Contact-Container{
    height:100%;
    background-color: #fed766;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    font-size: 30px;
}
.Contact-Container a{
    text-decoration: none;

}

